body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  
  background-color: #ffffff; 
}

a {
  text-decoration: none;
}

/*  ШАПКА САЙТА  */

.main-header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 42px;
  
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color:  #ee3643;
  box-shadow: 0 5px 0  #b52933
}

.main-header {
  margin-bottom: 59px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #000000;
  
  background-color: #f3f7f9;
}

.catalog-page .main-header{
  margin-bottom: 22px;
}

.user-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.header-lower-contacts{
  width: 270px;
  padding-right: 70px;
  
  text-align: center;
  font-size: 14px;
  
  color: #32425c;
  
}


.header-upper-panel{
  display: flex;
  width: 100%;
  min-height: 42px;
  margin-bottom: 48px;
  background-color: #32425c;
}

.header-upper-panel .container{
  display: flex;
  align-items:stretch;
}

.search-submit{
  position: absolute;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-upper-panel a:not(:first-of-type){
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 150px;
}

.main-navigation{
  margin-bottom: 65px;
  
  box-shadow: 0 5px #293449;
  background-color: #32425c;
}

.site-navigation{
  padding: 0px;
  margin: 0;
  padding: 0 15px;
  display: flex;
  min-height: 55px;
  align-items: center;
  justify-content: space-evenly;
  
}

.site-navigation a{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  padding: 0 30px;
}

.header-lower{
  padding-bottom: 1px;
}


.header-lower-panel {
  display: flex;
  margin-bottom: 20px; 
}





.main-navigation a{
  background-color: #32425c;
}

.main-navigation ul,
.slides-switches,
.service-columns,
.breadcrumbs,
.filter-list,
.footer-top-list,
.footer-bottom-list,
.pagination,
.company-list{
  list-style: none;
}


.header-upper-panel a,
.main-navigation a,
.container a{
  color: #ffffff;
}

.user-navigation a{
  color: #000000;
  background-color: #ffffff;
}

.header-upper-panel a:hover,
.header-upper-panel a:focus,
.search-input:hover,
.search-input:focus{
   background-color: #212a3a;
}

.header-upper-panel a:active{ 
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6)
}

input.search-input{
  display: flex;
  justify-content: center;
  min-height: 42px;
  width: 270px;
  border: none;
  
  background-color: #32425c;
}

a.header-order{
  background-color: #63a63e;
}
a.header-order:hover,
a.header-order:focus{
  background-color: #5fbb2d;
  
}

a.header-order:active{ 
  background-color: #518534;
  color: rgba(255, 255, 255, 0.6)
}

.main-navigation a:hover,
.main-navigation a:focus{
  background-color: #293449;
}

.main-navigation a:active{
   background-color: #1d2739;
   opacity: 0.5;
}

.user-navigation a:hover,
.user-navigation a:focus{
  color: #ee3643;
}

.user-navigation a:active{
  color: #000000;
  opacity: 0.3;
}


a.entered-user:hover,
a.entered-user:focus{
  color:#000000;
}

.main-header h1{
  margin: 0;
  padding: 0;
  padding-right: 53px;
  padding-left: 50px;
  width: 198px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
  
}

a.logo:hover,
a.logo:focus{
  background-color: #ca2c37;
}

a.logo:active{
  background-color: #ba2732;
  opacity: 1;
}

.header-lower-contacts a{
  display: inline-block;
  
  padding: 11px;
  padding-left: 70px;
  padding-right: 47px;
  font-size: 21px;
  line-height: 21px;
  
  color: #ee3643;
  border: 3px solid #ffffff;
 
  margin-bottom: -5px;
}

a.entered-link{
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  
  background-color: transparent;
}

/*  СЛАЙДЕРЫ И КНОПКИ   */

.material{
  background-color: #ffbf47;
}

.tool{
  background-color: #3bbce3;
}

.equipment{
  background-color: #dc91d8;
}

.discount{
  background-color: #8ed78f;
}

.delivery{
  background-color: #ffc047;
}

.offers{
  display: flex;
  flex-wrap: wrap;
  
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  
  margin-bottom: 53px;
}

.discout-delivery{
  display: flex;
  flex-direction: column;
  order: 1;
  margin-left: 20px;
}


.offer{
  width: 300px;
  height: 123px;
  
  margin-bottom: 20px;
}

.material,
.tool{
  margin-right: 20px;
}

.drills{
  width: 620px;
  min-height: 266px;
  
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat
}

.slides-switches {
  position: absolute;
  top:600px;
}

.offer-slider{
  display: flex;
}

.offer-slider h3{
  text-transform: uppercase;
}

.perforator{
  width: 620px;
  min-height: 266px;
  display: none;
  
  background-image: url(../img/slider-2.jpg);
  background-repeat: no-repeat
}

.offer-type{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.offer-item{
  text-align: center;
  vertical-align: middle;
  
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  
  background-color:  rgba(0, 0, 0, 0.1);
}

.offer-item:hover,
.offer-item:focus{
  background-color:  rgba(0, 0, 0, 0.2);;
}

.offer-item:active{
  background-color:  rgba(0, 0, 0, 0.3);;
}

.slide h3{
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.slide p{
  font-size: 18px;
  line-height: 24px;
}


/*  ПОПУЛЯРНЫЕ КНОПКИ И ЗАГОЛОВКИ  */
.popular-header{
  display: flex;
  min-height: 90px;
  align-items: center;
  margin-bottom: 20px;
  
  background-color: #faf6f2;
}

.popular-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 25px;
  width: 253px;
  height: 38px;
  
  border-radius: 3px;
  text-align: center;
  
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color:  #ee3643;
}

.popular-btn:hover,
.popular-btn:focus{
   background-color: #ca2c37;
}

.popular-btn:active{
  background-color: #ba2732;
}

.popular-header h2{
  padding-left: 25px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  
  color: #32425c;
}


/*  КАРТОЧКИ ПЕРФОРАТОРОВ  */
.catalog-product h3{
  text-align: center;
  padding: 0;
  margin: 0;
  width: 160px;
  
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.catalog-product p{
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.product-price{
  margin: 0;
  padding: 0;
  
  color: #999999;
  text-decoration:line-through;
}

.product-discount{
  margin: 0;
  padding: 0;
  
  background-color: #ee3643; 
  color: #ffffff;
}

.product-btn{
  display: none;
}

.product-btn .product-buy{
  color: #ffffff;
}

.product-btn .product-bookmark{
  color: #32425c;
}

.product-buy{
  text-align: center;
  vertical-align: middle;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  
  background-color:  #63a63e;
  border-bottom: 3px solid #518534;
}

.product-buy:hover,
.product-buy:focus{
  background-color:  #5fbb2d;
}

.product-buy:active{
  background-color:  #518534;
}

.product-bookmark {
  text-align: center;
  vertical-align: middle;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.product-bookmark:hover,
.product-bookmark:focus{
  border: 3px solid #32425c;
}

.product-bookmark:active{
  opacity: 0.3;
}

/*  ПРОИЗВОДИТЕЛИ */
.popular-manufacturers{
  margin-bottom: 65px;
}

.catalog-manufacturers{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

.catalog-manufacturers a{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 219px;
  min-height: 144px;
  margin-bottom: 20px;
  
  border: 1px solid #e7e7e7;
  
}


.catalog-manufacturers a:hover,
.catalog-manufacturers a:focus{
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}
.catalog-manufacturers a:active{
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
  }


/*  БЛОК СЕРВИСЫ  */
.service-warrianty,
.service-credit{
  display: none;
}


.service{
  min-height: 522px;
  margin-bottom: 75px;
    
  background-color: #f4f8f9;
}

.service h2{
  padding-top: 62px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}



.service p{
  color: #000000;
}

.service-text{
  margin: 0;
  margin-bottom: 48px;
  width: 400px;
}

.service-items{
  display: flex;
  
}

.service-columns{
  margin: 0;
  margin-left: 0;
  padding: 0;
  
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  
}

.service-columns button{
  width: 240px;
  min-height: 61px;
  padding-left: 22px;
  
  text-align: left;
  font: inherit;
  color: #ffffff;
  border: none;
  background-color: #32425c;
  
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.service-columns button:hover,
.service-columns button:focus{
   background-color: #293449;
}

.service-columns button:active{
  color: #32425c;
  background-color: #ffffff;
  border: none;
}


.service-details{
  width: 100%;
  margin-left: 79px;
}

.service-details div{
  min-height: 300px;
}

.service-delivery p {
  width: 280px;
}

.service-delivery{
   background: url(../img/delivery.png) no-repeat 100% 30px;
}


.service-warrianty p{
  width: 380px;
}

.service-details h3{
  margin-bottom: 30px;
  
  text-transform: uppercase;
}

.service-btn{
  margin-top: 30px;
}

.service-details-title{
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
}

.service-details-text{
  margin: 0;
  padding: 0;
}

/*  БЛОК КОМПАНИЯ  */

.company{
  background-color: #ffffff;
}

.company .container{
  display: flex;
  
}

.company-info{
  padding-right: 120px;
}

.company-list{
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  
}

.company-list li{
  padding-bottom: 25px;
}

.company-information {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  
  width: 515px;
}

.company-btn{
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 85px;
}

.promo{
  width: 400px;
}
.contacts{
  width: 185px;
}

.company-title{
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.company-contact-btn{
  margin: 0;
  padding: 0;
  width: 300px;
  min-height: 38px;
  margin-top: 48px;
}
.company-contact h4,
.company-contact p{
  padding-left: 5px;
}

/*  ФУТЕР ВЕРХНЯЯ ЧАСТЬ*/

.footer-upper-panel{
  height: 193px;
  background-color: #303f58;
}

.footer-upper-panel .container{
  display: flex;
}

.footer-upper-container{
  display: flex;
  flex-direction: column;
  
}

.footer-upper-container p{
  margin: 0;
  padding: 0;
  width: 325px
}

.footer-list-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

.footer-top-list{
  display: flex;
   margin-top: 40px;
}

.footer-bottom-list{
  display: flex;
  margin-top: 10px;
  margin-left: auto;
}



.footer-top-list li,
.footer-bottom-list li{
  margin-right: 55px;
 
}


.main-footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 63px;
  margin-bottom: 35px;
  
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color:  #ee3643;
  box-shadow: 0 5px 0  #b52933
    
}

.footer-upper-panel p{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-top-list a{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  
  color: #f3f7f9;
}

.footer-bottom-list a{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  
  color: #ffd180;
}

/*  ФУТЕР НИЖНЯЯ ЧАСТЬ*/

.footer-bottom-panel {
  background-color: #2a354a;
}

.footer-bottom-panel .container{
  display: flex;
  align-items: center;
  height: 107px;
}

.footer-bottom-panel p{
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-devoloped{
  margin-right: 14px;
}

.footer-feedback{
  margin-left: auto; 
  margin-right: 50px;
}

.copyright{
  width: 225px;
}

.footer-bottom-panel a{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  
  color: #ffd180;
}

/*  МОДАЛКА С ФОРМОЙ */

.modal{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  
  border-top: 7px solid #ff5357;
  background-color: #ffffff; 
}
.modal-content{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.modal input{
  font: inherit;

  background-color: transparent;
  border: 2px solid #e9eced;
}
.modal-footer{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  
  background-color: #f4f4f4; 
}

.modal-btn{
  text-align: center;
  vertical-align: middle;
  font: inherit;
  color: #ffffff;
  border: none;
}


.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/* СТИЛИЗАЦИЯ КАТАЛОГА */

.catalog{
  display: flex;
  justify-content: space-between;
  
}

.catalog-list{
  display: flex;
  justify-content: space-between;
  
}

.catalog-list-items{
  display: flex;
  flex-wrap: wrap;
  
  margin-bottom: 30px;
}



.catalog-product{
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  
  width:219px;
  min-height: 319px;
  
  
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  
}

.catalog-list-items .catalog-product{
  margin-right: 20px;
}

.catalog-list-items .catalog-product:nth-of-type(3n){
  margin-right: 0px;
}

.breadcrumbs{
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
  

.breadcrumbs a{
  padding-right: 35px;
  color: #000000;
}



.catalog-product:hover {
  box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
}

/* ПАГИНАЦИЯ*/
.pagination{
  padding: 0px;
  margin: 0;
  display: flex;
  margin-bottom: 60px;
  
}

.next-btn a{
  padding: 0 30px;
}

.pagination-btn a{
  display: flex;
  min-width: 37px;
  height: 37px;
  align-items: center;
  justify-content: center;
  
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-right: 10px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-btn a:hover,
.pagination-btn a:focus{
  border: 1px solid #bdc6ca;
  
}

.pagination-btn a:active{
  border: 1px solid #ee3643;
}

.current a{
  border: 1px solid #ee3643;
  color: #ffffff;
  background-color: #ee3643;
}

.current a:hover,
.current a:focus{
  border: 1px solid #ee3643;
}

/* ЗАГОЛОВОК КАТАЛОГА*/
.catalog-header h2{
  display: flex;
  min-height: 89px;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 26px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  
  color: #32425c;
  
}

.catalog-header{
  background-color: #f2f6f8;
}

/* ФОРМА И КАРТОЧКИ*/

.filters{
  width: 220px;
  margin-right: 44px;
}
.column-header{
  display: flex;
  margin-bottom: 20px;
  height: 38px;
}

.left-column-header {
  display: flex;
  height: 38px;
  width: 200px;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-right: 20px;
  
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  
  background-color: #f7f3ec;
}

.right-column-header{
  display: flex;
  height: 38px;
  width: 700px;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 20px;
}

.filter{
  font-size: 13px;
}

.filter fieldset {
  border: none;
}

.filter legend {

  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  
  color: #000000;
}

.filter ul{
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-input:hover,
.filter-input:focus {
  
}

.filter-input:active + label{
  opacity: 0.4;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.filter-btn{
  font: inherit;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
 
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}


.right-column-header{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  
  background-color: #f7f3ec;
}

.right-column-header a{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  
  border-bottom: 1px dashed #ee3643;
}

.right-column-header a:hover,
.right-column-header a:focus{
  border-bottom: 1px solid #ee3643;
  color: #000000;
}

.right-column-header a:active{
  color: #ee3643;
}

a.catalog-option-up,
a.catalog-option-down{
  border:none;
}

a.catalog-option-up:hover,
a.catalog-option-down:hover,
a.catalog-option-up:focus,
a.catalog-option-down:focus{
  border:none;
}

/* БЛОК "О перфораторах"*/
.perforators{
  background-color: #f4f8f9;
}

.perforators p{
  margin: 0;
  padding: 0;
  padding-bottom: 71px;
}

.perforators h2{
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  padding-top: 65px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  
  color: #000000;
}

/* МОДАЛКА С КОРЗИНОЙ */
.modal-oject,
.modal-map,
.modal-cart{
  display: none;
}

.modal-footer{
  font-family: "Cuprum", Arial, sans-serif;
 
}
.cart-content{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  
  color: #000000;
}

.cart-btn{
  font: inherit;
  text-align: center;
  vertical-align: middle;
  
  color: #ffffff;
  border: none;
}

.next{
  color: #000000;

  background-color:  #ffffff
}

.next:hover,
.next:focus{
  background-color: aliceblue;
}

/*div,section,a,ul,li,p,footer,header{
  outline: 2px solid red;}*/

