body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  
  background-color: #ffffff; 
}

a 
{
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*  ШАПКА САЙТА  */

.main-header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 40px;
  padding-top: 2px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color:  #ee3643;
  box-shadow: 0 5px 0  #b52933
}

.main-header {
  margin-bottom: 59px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #000000;
  
  background-color: #f3f7f9;
}

.catalog-page .main-header{
  margin-bottom: 21px;
}

.user-navigation {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 18px;
  width: 281px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.login-link{
  position: relative;
  
  display: flex;
  margin-top: 10px;
  padding: 12px;
  padding-left: 47px;
  padding-right: 26px;
  margin-right: 10px;
}

.login-link::before{
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  
  width: 20px;
  height: 20px;
  
  background: url(../img/svg/icon-login.svg) no-repeat;
  opacity: 0.3;
}


.registration-link{
  display: flex;
  margin-top: 10px;
  padding: 12px 24px;

}

.header-lower-contacts{
  width: 270px;
  margin-top: 10px;
  margin-left: 22px;
  margin-right: 50px;
  
  text-align: center;
  font-size: 14px;
  
  color: #32425c;
}

.header-upper-panel{
  width: 100%;
  min-height: 42px;
  margin-bottom: 36px;
  background-color: #32425c;
}

.header-upper-panel .container{
  display: flex;
  flex-wrap: wrap;
  align-items:stretch;
}

.search-submit{
  position: absolute;
  border: none;
  width: 20px;
  height: 20px;
  
  top: 12px;
  left: 17px;
  background: url(../img/svg/icon-search.svg) no-repeat;
  
  opacity: 0.3;
  cursor: pointer;
}


.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-upper-panel a:not(:first-of-type){
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  min-width: 120px;
  min-height: 40px;
}

.header-bookmark{
  padding-left: 25px;
  padding-right: 6px;
  margin-left: auto;
}
.header-bookmark::before{
  content: "";
  position: absolute;
  top: 12px;
  left: 19px;
  
  width: 20px;
  height: 20px;
  
  background: url(../img/svg/icon-bookmark.svg) no-repeat;
  opacity: 0.3;
}

.header-basket{
  padding-left: 27px;
  padding-right: 4px;
}
.basket-catalog{
  background-color: #ee3643;
}
.header-basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 19px;
  
  width: 20px;
  height: 20px;
  
  background: url(../img/svg/icon-cart.svg) no-repeat;
  opacity: 0.3;
}


.main-navigation{
  margin-bottom: 64px;
  
  box-shadow: 0 5px #293449;
  background-color: #32425c;
}

.site-navigation{
  margin: 0;
  padding: 0 23px;
  display: flex;
  flex-wrap: wrap;
  min-height: 55px;
  align-items: center;
  justify-content: space-evenly;
  
}

.site-navigation a{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 54px;
  padding-top: 1px;
  padding-left: 27px;
  padding-top: 1px;
  padding-right: 31px;
}

.header-lower{
  padding-bottom: 1px;
}


.header-lower-panel {
  display: flex;
  margin-bottom: 40px; 
}

.main-navigation a{
  background-color: #32425c;
}

.main-navigation ul,
.slides-switches,
.service-columns,
.breadcrumbs,
.filter-list,
.footer-top-list,
.footer-bottom-list,
.pagination,
.company-list{
  list-style: none;
}


.header-upper-panel a,
.main-navigation a{
  color: #ffffff;
}


.user-navigation a{
  color: #000000;
  background-color: #ffffff;
}

.header-upper-panel a:hover,
.header-upper-panel a:focus,
.search-input:hover,
.search-input:focus{
  background-color: #212a3a;

}

.search-input:hover ~ .search-submit,
.search-submit:hover{
  opacity: 1;
}

.header-upper-panel a:hover::before{
  transform: rotate(720deg);
}

.header-upper-panel a:active{ 
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6)
}

.header-upper-panel a:hover::before,
.header-upper-panel a:focus::before{
  opacity: 1;
}

.header-upper-panel a:active::before{
 opacity: 0.5;  
}

input.search-input{
  display: flex;
  padding-top: 0;
  padding-left: 48px;
  width: 265px;
  
  justify-content: center;
  min-height: 42px;
  border: none;
  outline: 0px;
  
  background-color: #32425c;
}

a.header-order{
  padding-left: 14px;
  padding-right: 16px;
  
  background-color: #63a63e;
}

a.header-order:hover,
a.header-order:focus{
  background-color: #5fbb2d;
  
}

a.header-order:active{ 
  background-color: #518534;
  color: rgba(255, 255, 255, 0.6)
}

.main-navigation a:hover,
.main-navigation a:focus{
  background-color: #293449;
}

.main-navigation a:active{
   background-color: #1d2739;
   opacity: 0.5;
}

.user-navigation a:hover,
.user-navigation a:focus{
  color: #ee3643;
}

.user-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation a:hover::before,
.user-navigation a:focus::before,
.entered-btn:hover,
.entered-btn:focus{
  opacity: 1;
}

.user-navigation a:active::before,
.entered-btn:active{
  opacity: 0.3;
}

.entered-user{
  padding: 10px 68px 11px 46px
}

.entered-user::before{
  content: "";
  
  position: absolute;
  top: 1px;
  left: 14px;

  
  width: 20px;
  height: 20px;
  background: url(../img/svg/icon-user.svg) no-repeat;
  opacity: 0.3;
}

a.entered-user:hover,
a.entered-user:focus{
  color:#000000;
}


.user-block{
  position: relative;
  
  margin-top: 22px;
  margin-bottom: 19px;
}

.main-header h1{
  margin: 0;
  margin-right: 45px;
  margin-left: 53px;
  margin-top: 13px;
  width: 200px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  
  color: #ee3643;
  
}

a.logo:hover,
a.logo:focus{
  background-color: #ca2c37;
}

a.logo:active{
  background-color: #ba2732;
  color: #ffffff;
}

.header-lower-contacts a{
  position: relative;
  display: inline-block;
  
  padding: 9px;
  padding-left: 21px;
  padding-right: 0px;
  width: 243px;
  
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.09px;
  
  color: #ee3643;
  border: 3px solid #ffffff;
 
}

.header-lower-contacts a:hover::before{
  transform: translatex(30px);
}

.header-upper-search{
  position: relative;
}

.header-lower-contacts a::before{
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  
  width: 20px;
  height: 20px;
  
  background: url(../img/svg/icon-phone.svg) no-repeat; 
}

.header-lower-contacts p{
  margin: 0;
  padding: 0;
  margin-top: 7px;
  
  letter-spacing: 0.04px;
}

a.entered-link{
  padding-right: 33px;
  
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  
  background-color: transparent;
}

.link-block{
  position: relative;
  
  display: flex;
  flex-wrap: wrap;
  margin-left: 17px;
}

.link-block a:nth-child(2n)::before{
  content: "";
  position: absolute;
  top: 7px;
  left: 90px;
  
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.entered{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  margin-left: 0;
}

.entered-btn{
  position: absolute;
  top: 2px;
  right: 11px;
  
  width: 20px;
  height: 20px;
  background: url(../img/svg/icon-logout.svg) no-repeat;
  opacity: 0.3;
}

/*  СЛАЙДЕРЫ И КНОПКИ   */

.material{
  background-color: #ffbf47;
}

.tool{
  background-color: #3bbce3;
}

.equipment{
  background-color: #dc91d8;
}

.discount{
  background-color: #8ed78f;
}

.delivery{
  background-color: #ffc047;
}

.offers{
  display: flex;
  flex-wrap: wrap;
  
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  
  margin-bottom: 32px;
}

.discout-delivery{
  display: flex;
  flex-direction: column;
  order: 1;
  margin-left: 20px;
}


.offer{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  
  position: relative;
  
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}



.offer::after{
  content: "";
  position: absolute;
  
  width: 80px;
  height: 75px;
  
  background: url(../img/svg/icon-1.svg) no-repeat;
}

.material::after{
  top: 31px;
  right: 7px;
  
  background: url(../img/svg/icon-1.svg) no-repeat;
}

.tool::after{
  top: 33px;
  right: 23px;
  
  background: url(../img/svg/icon-2.svg) no-repeat;
}
.equipment::after{
  top: 31px;
  right: 29px;
  
  background: url(../img/svg/icon-3.svg) no-repeat;
}

.discount::after{
  top: 26px;
  right: 24px;
  
  background: url(../img/svg/icon-4.svg) no-repeat;
}

.delivery::after{
  top: 32px;
  right: 29px;
  
  background: url(../img/svg/icon-5.svg) no-repeat;
}

.material,
.tool{
  margin-right: 20px;
}


.arrow-controls label{
  position: absolute;
  
  width: 30px;
  height: 40px;
  
  border: none;
  cursor: pointer;
}

.back-switch{
  top: 114px;
  left: 25px;
  
  background: url(../img/svg/icon-left.svg) no-repeat;
}

.next-switch{
  top: 114px;
  right: 12px;
  
  background: url(../img/svg/icon-right.svg) no-repeat;
}

.sliders-switches{
  position: absolute;
  
  bottom: 43px;
  left: 255px;
  
  display: flex;
  list-style: none;
}

.sliders-switches li{
  position: relative;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 10px;
  
  cursor: pointer;
}

.sliders-switches label::before{
  content: "";
  position: absolute;

  width: 10px;
  height: 10px;
  
  background-color: #ffffff;
  border-radius: 50%;
}

#slider-1:checked ~ .sliders-switches label[for="slider-1"]::after,
#slider-2:checked ~ .sliders-switches label[for="slider-2"]::after{
  content: "";
  
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
 
  border-radius: 50%;
  background: #ee3643;;
  
}

.slide{
  width: 100%;
  display: none;
}

.drills{
  background: url(../img/slider-1.jpg) no-repeat;
}

.perforator{
  background: url(../img/slider-2.jpg) no-repeat;
}


#slider-1:checked  ~.perforator{
  display: block;
} 

#slider-2:checked ~ .drills{
  display: block;
}

.offer-slider{
  position: relative;
  display: flex;
  width: 620px;
  min-height: 266px;
}

.offer-type{
  margin: 0;
  padding: 0;
  padding-left: 22px;
  padding-top: 21px;
  
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  
}

.offer-item{
  width: 135px;
  padding: 10px 0px;
  margin-top: 12px;
  margin-left: 25px;
  
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  
  border-radius: 3px;
  background-color:  rgba(0, 0, 0, 0.1);
}

.offer-item:hover,
.offer-item:focus{
  background-color:  rgba(0, 0, 0, 0.2);;
  transition: 0.3s;
}

.offer-item:active{
  background-color:  rgba(0, 0, 0, 0.3);;
}

.offer:hover::after{
  transform: scale(1.1);
  transition: 1s;
}


.slide h3{
  margin: 0;
  padding: 0;
  margin-left: 24px;
  margin-top: 23px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slide p{
  margin: 0;
  padding: 0;
  margin-left: 24px;
  margin-top: 2px;
  font-size: 18px;
  
  line-height: 24px;
}


/*  ПОПУЛЯРНЫЕ КНОПКИ И ЗАГОЛОВКИ  */
.popular-header{
  display: flex;
  min-height: 90px;
  align-items: center;
  margin-bottom: 20px;
  
  background-color: #faf6f2;
}

.popular-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 24px;
  width: 253px;
  min-height: 38px;
  
  border-radius: 3px;
  text-align: center;
  
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color:  #ee3643;

}

.slider-btn{
  position: absolute;
  top:206px;
  left: 25px;
  
  margin: 0;
  padding: 0px;
  padding-left: 50px;
  padding-right: 46px;
  width: auto;
}

.popular-btn:hover,
.popular-btn:focus{
  background-color: #ca2c37;
  transition: 0.3s;
}

.popular-btn:active{
  background-color: #ba2732;
}

.popular-header h2{
  padding-left: 28px;
  padding-top: 1px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  
  color: #32425c;
}

h2.header-manufacturers{
  padding-left: 24px;
}

/*  КАРТОЧКИ ПЕРФОРАТОРОВ  */
.product-image{
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
}

.catalog-product h3{
  text-align: center;
  padding: 0;
  margin: 0;
  width: 160px;
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.catalog-product p{
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.product-price{
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 3px;
  
  text-transform: uppercase;
  color: #999999;
  text-decoration:line-through;
}

.product-discount{
  position: relative;
  width: 77px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 4px;
  padding: 10px 30px;
  margin-top: auto;
  
  text-align: center;
  text-transform: uppercase;
  
  background-color: #ee3643; 
  color: #ffffff;
  border-radius: 3px;
  
}

.product-discount::after{
  content: "";
  position: absolute;
  top: 0;
  right: -23px;
  width: 0;
  height: 0;
  
  border: 19px solid white;
  border-left-color: #ee3643;
}

.product-btn{
  position: absolute;
  top: 0;
  left: 0;
  
  display: none;
  flex-direction: column;
  align-items: center;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: #ffffff;
  z-index: 1;
  
}

.catalog-product:hover .product-btn{
   display: flex;
}

.catalog-product:hover {
  box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
  transition: 1s;
}


.product-buy,
.product-bookmark{
  position: relative;
  
  padding: 7px 0;
  width: 129px;
  margin-bottom: 5px;
  margin-top: 3px;
  
  text-align: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color:  #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
}

.product-bookmark {
  color: #32425c;
  background-color: #ffffff;  
  border-color: #63a63e;
}

.product-buy::before{
  content: "";
  position: absolute;
  top: 8px;
  left: 11px;

  width: 20px;
  height: 20px;
  
  background: url(../img/svg/icon-cart.svg) no-repeat;
  opacity: 0.3;
}


.product-buy:hover,
.product-buy:focus{
  background-color:  #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
  transition: 1s;
}

.product-buy:active{
  background-color:  #518534;
  border-color: #518534;
}

.product-buy:hover::before,
.product-buy:focus::before,
.product-buy:active::before{
  opacity: 1;

}

.product-bookmark:hover,
.product-bookmark:focus{
  transition: 1s;
  border: 3px solid #32425c;
}

.product-bookmark:active{
  opacity: 0.3;
}

/*  ПРОИЗВОДИТЕЛИ */
.popular-manufacturers{
  margin-bottom: 65px;
}

.catalog-manufacturers{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -20px;
}

.catalog-manufacturers a{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 218px;
  min-height: 143px;
  margin-bottom: 20px;
  margin-left: 20px;
  
  border: 1px solid #e7e7e7;
  
}


.catalog-manufacturers a:hover,
.catalog-manufacturers a:focus{
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
  transition: 1s;
}
.catalog-manufacturers a:active{
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
  }


/*  БЛОК СЕРВИСЫ  */
.service-warrianty,
.service-credit{
  display: none;
}


.service{
  height: 522px;
  margin-bottom: 79px;
    
  background-color: #f4f8f9;
}

.service .container{
  padding-top: 65px;
}

.service h2{
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}



.service p{
  letter-spacing: 0.06px;
  color: #000000;
}

.service-text{
  margin: 0;
  margin-bottom: 48px;
  width: 400px;
}

.service-items{
  display: flex;
  
}

.service-columns{
  position: relative;
  
  margin: 0;
  margin-top: 20px;
  padding: 0;
  
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.service-columns::after{
  content: "";
  position: absolute;
  top: -40px;
  right: 0px;
  
  width: 10px;
  height: 280px;
  
  
  background: url(../img/shadow.png) no-repeat;
  
}

.service-columns button{
  width: 240px;
  padding: 14px 22px 15px 22px;
  
  text-align: left;
  font: inherit;
  color: #ffffff;
  border: none;
  background-color: #32425c;
  
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.service-columns button:hover,
.service-columns button:focus{
   background-color: #293449;
}

.service-columns button:active{
  color: #32425c;
  background-color: #ffffff;
  border: none;
}

.service-details{
  width: 100%;
  margin-left: 79px;
}

.service-details div{
  min-height: 300px;
}

.service-delivery p {
  width: 280px;
}

.service-delivery{
   background: url(../img/delivery.png) no-repeat 152px 25px;
}


.service-warrianty p{
  width: 380px;
}

.service-details h3{
  margin-top: 19px;
  margin-bottom: 25px;
  
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.service-btn{
  margin-top: 30px;
}

.service-details-title{
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
}

.service-details-text{
  margin: 0;
  padding: 0;
}

/*  БЛОК КОМПАНИЯ  */

.company{
  margin-bottom: 86px;

  background-color: #ffffff;
}

.company .container{
  display: flex;
  
}

.company-info{
  margin-right: 115px;
}

.company-list{
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  
}

.company-list li{
  position: relative;
  
  padding-bottom: 20px;
  padding-left: 36px;
}

.company-list li:before{
  content: "";
  position: absolute;
  left: 0px;
  top: 9px;
  
  width: 25px;
  height: 2px;
  
  background-color: #ee3643;
}

.company-information {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  width: 525px;
  letter-spacing: 0.14px;
 
}
p.contacts{
  letter-spacing: 0;
}
p.promo{
  padding-bottom: 21px;
  letter-spacing: 0.04px;
}

.company-btn{
  margin-left: 0;
  margin-right: auto;
  margin-top: 16px;
  width: 220px;
}

.promo{
  width: 400px;
}
.contacts{
  width: 185px;
}

.company-title{
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.company-contact-btn{
  margin: 0;
  margin-top: 40px;
  padding: 0;
  padding-left: 26px;
  padding-right: 21px;
  
  min-height: 38px;
}

.company-contact-map{
  display: flex;
  
  margin-top: 7px;
}

/*  ФУТЕР ВЕРХНЯЯ ЧАСТЬ*/

.footer-upper-panel{
  height: 193px;
  background-color: #303f58;
}

.footer-upper-panel .container{
  display: flex;
}

.footer-upper-container{
  display: flex;
  flex-direction: column;
  
}

.footer-upper-container p{
  margin: 0;
  padding: 0;
  width: 325px;
  margin-left: 4px;
}

.footer-list-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 23px;
}

.footer-top-list{
  display: flex;
  margin-top: 38px;
}

.footer-bottom-list{
  display: flex;
  margin-top: 10px;
  margin-left: auto;
}



.footer-top-list li,
.footer-bottom-list li{
  margin-right: 59px;
 
}


.main-footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 63px;
  margin-bottom: 33px;
  
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color:  #ee3643;
  box-shadow: 0 5px 0  #b52933
    
}

.footer-upper-panel p{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-top-list a{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  color: #f3f7f9;
}

.footer-top-list a:hover,
.footer-top-list a:focus,
.footer-bottom-list a:hover,
.footer-bottom-list a:focus,
.feedback:hover,
.feedback:focus{
  text-decoration: underline;
}

.footer-top-list a:active,
.footer-bottom-list a:active{
  opacity: 0.5;
  text-decoration: none;
}

.feedback:active{
  color: #ee3643;
  text-decoration: none;
}

.footer-bottom-list a{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  
  color: #ffd180;
}

/*  ФУТЕР НИЖНЯЯ ЧАСТЬ*/

.footer-bottom-panel {
  background-color: #2a354a;
}

.footer-bottom-panel .container{
  display: flex;
  align-items: center;
  height: 107px;
}

.footer-bottom-panel p{
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-devoloped{
  margin-right: 14px;
  padding-top: 7px;
}

.footer-feedback{
  margin-left: 90px;
  margin-right: 52px;
  padding-top: 7px;
}

p.copyright{
  width: 240px;
  padding-left: 1px;
  padding-top: 2px;
  letter-spacing: 0.08px;
}

.footer-bottom-panel a{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  
  color: #ffd180;
}

.footer-social{
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  min-height: 50px;
  margin-left: auto;
  margin-top: 13px;
 
}
.footer-social a{
  position: relative;
  width: 42px;
  height: 42px;
  margin-right: 3px;
  margin-bottom: 3px;
  
  background-color: #212a3a;
  border-radius: 50%;
}

.social-vk::before{
  position: absolute;
  content: "";
  top: 13px;
  left: 8px;

  width: 30px;
  height: 30px;
  
  background: url(../img/svg/icon-vk.svg) no-repeat;
}

.social-fb::before{
  position: absolute;
  content: "";
  top: 10px;
  left: 15px;

  width: 30px;
  height: 30px;
  
  background: url(../img/svg/icon-fb.svg) no-repeat;
}

.social-in::before{
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;

  width: 30px;
  height: 30px;
  
  background: url(../img/svg/icon-insta.svg) no-repeat;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active{
  background-color: #ee3643;
  transition:  1s;
}

/* СТИЛИЗАЦИЯ КАТАЛОГА */

.catalog{
  display: flex;
  justify-content: space-between;
  
}

.catalog-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  
}

.catalog-list-items{
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-bottom: 32px;
}



.catalog-product{
  position: relative;
  margin-left: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width:218px;
  min-height: 316px;
  
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  
}

.catalog-product img{
  margin-top: 32px;
  margin-bottom: 28px;
  width: 210px;
  height: 110px;
}

.new::before{
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  background: url(../img/new.png) no-repeat 0 0;
  z-index: 2;
}

.offers .new::before{
  top: 0px;
  right: 0px;
}

.breadcrumbs{
  
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
  
.breadcrumbs li{
  position: relative;
  margin-right: 42px;
}

.breadcrumbs li:first-child{
  margin-right: 54px;
}

.breadcrumbs li::after{
  content: "";
  
  position: absolute;
  top: 2px;
  right: -26px;
  
  width: 8px;
  height: 12px;
  
  background: url(../img/svg/icon-right-small.svg) no-repeat;
  
}
.breadcrumbs li:first-child::after{
  right: -36px;
}

.breadcrumbs-current::after{
  display: none;
}

.breadcrumbs a{
  color: #000000;
}


.home::after{
  content: "";
  position: absolute;
  top: 2px;
  left: -2px;
  
  width: 20px;
  height: 20px;
   
  background: url(../img/svg/icon-home.svg) no-repeat;
}


/* ПАГИНАЦИЯ*/
.pagination{
  padding: 0px;
  margin: 0;
  display: flex;
  margin-bottom: 60px;
  
}

.next-btn a{
  padding: 0 30px;
}

.pagination-btn a{
  display: flex;
  min-width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-right: 10px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-btn a:hover,
.pagination-btn a:focus{
  border: 1px solid #bdc6ca;
  
}

.pagination-btn a:active{
  border: 1px solid #ee3643;
}

.current a{
  border: 1px solid #ee3643;
  color: #ffffff;
  background-color: #ee3643;
}

.current a:hover,
.current a:focus{
  border: 1px solid #ee3643;
}

/* ЗАГОЛОВОК КАТАЛОГА*/
.catalog-header h2{
  display: flex;
  min-height: 89px;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 28px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  
  color: #32425c;
  
}

.catalog-header{
  margin-bottom: 20px;
  
  background-color: #f2f6f8;
}

/* ФОРМА И КАРТОЧКИ*/

.filters{
  width: 220px;
  margin-right: 20px;
  
}
.column-header{
  display: flex;

  height: 38px;
}

.range-controls{
  width: 220px;
  min-height: 80px;
   background-color: #f7f3ec; 
  margin-bottom: 9px;
}
.catalog-price-controls{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-price-controls input{
  
  width: 72px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 13px;
  padding-right: 10px;
  
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  
  border: none;
  background-color: #f7f3ec;
}

.catalog-price-controls label{
  position: relative;
}

.catalog-min-price::after{
  content: "";
  position: absolute;
  left: 105px;
  top: 19px;
  
  width: 10px;
  height: 1px;
  background-color: black;
  
}


.left-column-header {
  display: flex;
  height: 38px;
  width: 201px;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 19px;
  margin-bottom: 11px;
  
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  
  background-color: #f7f3ec;
}

.right-column-header{
  position: relative;
  
  margin: 0;
  padding: 0;
  height: 38px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.right-column-header p{
  margin-right: 139px;
  padding-left: 20px;
}

.catalog-option{
  margin-right: 69px;
}

.filter{
  font-size: 13px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
}

fieldset.filter-manufacturers{
  padding-bottom: 2px;
  margin-bottom: 17px;
}

.filter legend {

  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 14px;
  
  color: #000000;
}

.filter-option{
  margin-bottom: 20px;
}

.filter-option label{
  position: relative;
  
  display: block;
  
  cursor: pointer;
  user-select: none;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -2px;
  
  width: 24px;
  height: 24px;

  background: urL("../img/svg/checkbox-off.svg") no-repeat;
}

.filter-checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -34px;
  top: -2px;
  
  width: 26px;
  height: 24px;
  
  background: url("../img/svg/checkbox-on.svg") no-repeat;
}

.filter-radio + label::before{
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  
  width: 26px;
  height: 26px;

  background: urL("../img/svg/radio-off.svg") no-repeat;
}

.filter-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -3px;
  
  width: 26px;
  height: 24px;
  
  background: url("../img/svg/radio-on.svg") no-repeat;
}

.filter ul{
  padding: 0;
  margin: 0;
  padding-left: 34px;
  
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.power{
  letter-spacing: 0.5px;
}

.filter-input:active + label{
  opacity: 0.4;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.filter-btn{
  margin-top: 17px;
  padding: 9px 38px;
  
  font: inherit;
  line-height: 18px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  
  background-color: #ffffff;
  
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.right-catalog-column{
  width: 700px;
}

.right-column-header{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  
  background-color: #f7f3ec;
}

.right-column-header a{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  
  border-bottom: 1px dotted #ee3643;
}

.right-column-header a:hover,
.right-column-header a:focus{
  border-bottom: 1px solid #ee3643;
  color: #000000;
  transition: 1s;
}

.right-column-header a:active{
  color: #ee3643;
}

a.catalog-option-up,
a.catalog-option-down{
  border:none;
}

a.catalog-option-up{
  position: absolute;
  top: 11px;
  right: 49px;
  
  opacity: 0.3;
}

a.catalog-option-down{
  position: absolute;
  top: 11px;
  right: 17px;
  
  opacity: 0.3;
}

a.catalog-option-up:hover,
a.catalog-option-up:focus,
a.catalog-option-down:hover,
a.catalog-option-down:focus
{
  border: none;
  opacity: 1;
  transition: 1s;
  transform:rotateY(180deg); 
}



a.catalog-option-up:active path,
a.catalog-option-down:active path{
  fill: #ee3643;
  transition: 0.5s;
}

/* БЛОК "О перфораторах"*/
.perforators{
  background-color: #f4f8f9;
}

.perforators p{
  margin: 0;
  padding: 0;
  padding-bottom: 69px;
  letter-spacing: 0.14px;
}

p.perforators-text{
  padding: 0;
  margin: 0;
  letter-spacing: 0;
}

.perforators h2{
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  padding-top: 65px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  
  color: #000000;
}


/*  МОДАЛКА С ФОРМОЙ */
.modal-object
{
  position: fixed;
  z-index: 10;
}

.modal{
  display: flex;
  flex-wrap: wrap;
  
  width: 460px;
  padding: 50px 80px;
  padding-bottom: 35px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  
  background-color: #ffffff; 
}

.modal-map{
  left: 50%;
  bottom: 350px;
  
  display: none;
  
  width: 940px;
  height: 445px;
  margin-left: -470px;
  
  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
  z-index: 9;
}

.mail-form{
  bottom: 200px; 
  left: 50%;
  
  display: none;
  
  margin-left: -310px;
  box-shadow:0 20px 40px rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ff5357;
}

.modal-close{
  position: absolute;
  top: 8px;
  right: 8px;
  
  width: 22px;
  height: 22px;
  
  background: url("../img/svg/icon-close.svg") no-repeat;
  cursor: pointer;
  border: none;
}

.modal-content{
  padding-bottom: 12px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.textarea{
  resize: none;
  width: 460px;
}

.modal p{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal p:first-of-type{
  margin-right: 20px;
}
 
.modal p:last-of-type{
  flex-grow: 1;
  margin-bottom: 0px;
}

.modal input,
.modal textarea{
  box-sizing: border-box;
  padding: 9px 13px;
  
  font: inherit;
  
  background-color: transparent;
  border: 2px solid #e9eced;
  border-radius: 3px;
 
}

.modal input{
  width: 220px;
}

.modal-footer{
  display: flex;
  
  width: 460px;
  padding: 37px 80px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  
  background-color: #f4f4f4; 
}

.modal-btn{
  margin: 0;
  padding: 0;
  width: 460px;
  font: inherit;
  color: #ffffff;
  border: none;
}
/* МОДАЛКА С КОРЗИНОЙ */

.modal-cart{
  bottom: 330px; 
  left: 50%;
  
  display: none;
  
  margin-left: -310px;
  
  box-shadow:0 20px 40px rgba(41, 52, 73, 0.75);
  border-top: 7px solid #ff5357;
}

.modal-footer{
  font-family: "Cuprum", Arial, sans-serif;
 
}
.cart-content{
  position: relative;
  
  padding: 68px 80px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  
  color: #000000;
  
}

.cart-btn{
  margin-right: 20px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  
  color: #ffffff;
  border: none;
}

p.cart-text{
  margin: 0;
  padding: 0;
  margin-left: 100px;
}

.cart-text::before{
  content: "";
  
  position: absolute;
  top: 50px;
  left: 100px;
  
  width: 66px;
  height: 66px;
  background: url(../img/svg/icon-mark.svg) no-repeat;
}

.next{
  margin: 0;
  
  color: #000000;

  background-color:  #ffffff
}

.next:hover,
.next:focus{
  background-color: aliceblue;
}

.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  
  display: none;
  
  width: 100%;
  height: 100%;
  z-index: 8;
  background: rgba(41, 52, 73, 0.75);
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

div,
a,
::before,
:hover,
::after
{
  transition: all 0.5s ease-in-out;
}
