@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src:
    local("Cuprum"), 
    local("Cuprum-Regular"),
    url("../fonts/cuprum.woff") format("woff"),
    url("../fonts/cuprum.woff2") format("woff2");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src:
    local("Cuprum Italic"), 
    local("Cuprum-Italic"),
    url("../fonts/cuprumitalic.woff") format("woff"),
    url("../fonts/cuprumitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src:
    local("Cuprum Bold"), 
    local("Cuprum-Bold"),
    url("../fonts/cuprumbold.woff") format("woff"),
    url("../fonts/cuprumbold.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("PT Sans"), 
    local("PTSans-Regular"),
    url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:
    local("PT Sans Bold"), 
    local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  
  background-color: #ffffff; 
}

a {
  text-decoration: none;
}

/*  ШАПКА САЙТА  */

.main-header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 40px;
  padding-top: 2px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color:  #ee3643;
  box-shadow: 0 5px 0  #b52933
}

.main-header {
  margin-bottom: 58px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #000000;
  
  background-color: #f3f7f9;
}

.catalog-page .main-header{
  margin-bottom: 22px;
}

.user-navigation {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.login-link{
  position: relative;
  
  display: flex;
  margin-top: 10px;
  padding: 12px;
  padding-left: 47px;
  padding-right: 26px;
  margin-right: 10px;
}

.login-link::before{
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  
  width: 20px;
  height: 20px;
  
  background: url(../img/svg/icon-login.svg) no-repeat;
  opacity: 0.3;
}


.registration-link{
  display: flex;
  margin-top: 10px;
  padding: 12px 24px;

}

.header-lower-contacts{
  width: 270px;
  margin-top: 10px;
  margin-left: 22px;
  margin-right: 69px;
  
  text-align: center;
  font-size: 14px;
  
  color: #32425c;
}


.header-upper-panel{
  display: flex;
  width: 100%;
  height: 42px;
  margin-bottom: 36px;
  background-color: #32425c;
}

.header-upper-panel .container{
  display: flex;
  align-items:stretch;
}

.search-submit{
  position: absolute;
  border: none;
  width: 20px;
  height: 20px;
  
  top: 12px;
  left: 17px;
  background: url(../img/svg/icon-search.svg) no-repeat;
  
  opacity: 0.3;
  cursor: pointer;
}


.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-upper-panel a:not(:first-of-type){
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  width: 120px;
}

.header-bookmark{
  padding-left: 25px;
  padding-right: 6px;
  margin-left: auto;
}
.header-bookmark::before{
  content: "";
  position: absolute;
  top: 12px;
  left: 19px;
  
  width: 20px;
  height: 20px;
  
  background: url(../img/svg/icon-bookmark.svg) no-repeat;
  opacity: 0.3;
}

.header-basket{
  padding-left: 25px;
  padding-right: 6px;
}

.header-basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 19px;
  
  width: 20px;
  height: 20px;
  
  background: url(../img/svg/icon-cart.svg) no-repeat;
  opacity: 0.3;
}


.main-navigation{
  margin-bottom: 65px;
  
  box-shadow: 0 5px #293449;
  background-color: #32425c;
}

.site-navigation{
  padding: 0px;
  margin: 0;
  padding: 0 23px;
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: space-evenly;
  
}

.site-navigation a{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 54px;
  padding-top: 1px;
  padding-left: 27px;
  padding-top: 1px;
  padding-right: 31px;
}

.header-lower{
  padding-bottom: 1px;
}


.header-lower-panel {
  display: flex;
  margin-bottom: 40px; 
}

.main-navigation a{
  background-color: #32425c;
}

.main-navigation ul,
.slides-switches,
.service-columns,
.breadcrumbs,
.filter-list,
.footer-top-list,
.footer-bottom-list,
.pagination,
.company-list{
  list-style: none;
}


.header-upper-panel a,
.main-navigation a{
  color: #ffffff;
}

.user-navigation a{
  color: #000000;
  background-color: #ffffff;
}

.header-upper-panel a:hover,
.header-upper-panel a:focus,
.search-input:hover,
.search-input:focus{
   background-color: #212a3a;
}

.search-input:hover ~ .search-submit,
.search-submit:hover{
  opacity: 1;
}

.header-upper-panel a:active{ 
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6)
}

.header-upper-panel a:hover::before,
.header-upper-panel a:focus::before{
  opacity: 1;
}

.header-upper-panel a:active::before{
 opacity: 0.5;  
}

input.search-input{
  display: flex;
  padding-top: 0;
  padding-right: 63px;
  padding-left: 48px;
  justify-content: center;
  min-height: 42px;
  border: none;
  outline: 0px;
  
  background-color: #32425c;
}

a.header-order{
  padding-left: 14px;
  padding-right: 16px;
  
  background-color: #63a63e;
}

a.header-order:hover,
a.header-order:focus{
  background-color: #5fbb2d;
  
}

a.header-order:active{ 
  background-color: #518534;
  color: rgba(255, 255, 255, 0.6)
}

.main-navigation a:hover,
.main-navigation a:focus{
  background-color: #293449;
}

.main-navigation a:active{
   background-color: #1d2739;
   opacity: 0.5;
}

.user-navigation a:hover,
.user-navigation a:focus{
  color: #ee3643;
}

.user-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation a:hover::before,
.user-navigation a:focus::before{
  opacity: 1;
}

.user-navigation a:active::before{
  opacity: 0.3;
}

a.entered-user:hover,
a.entered-user:focus{
  color:#000000;
}

.main-header h1{
  margin: 0;
  margin-right: 47px;
  margin-left: 51px;
  margin-top: 13px;
  width: 200px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  
  color: #ee3643;
  
}

a.logo:hover,
a.logo:focus{
  background-color: #ca2c37;
}

a.logo:active{
  background-color: #ba2732;
  opacity: 1;
}

.header-lower-contacts a{
  position: relative;
  display: inline-block;
  
  padding: 9px;
  padding-left: 20px;
  padding-right: 0px;
  width: 244px;
  
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.09px;
  
  color: #ee3643;
  border: 3px solid #ffffff;
 
}
.header-upper-search{
  position: relative;
}

.header-lower-contacts a::before{
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  
  width: 20px;
  height: 20px;
  
  background: url(../img/svg/icon-phone.svg) no-repeat; 
}

.header-lower-contacts p{
  margin: 0;
  padding: 0;
  margin-top: 8px;
  
  letter-spacing: 0.04px;
}

a.entered-link{
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  
  background-color: transparent;
}
.entered{
  display: flex;
  flex-direction: column;
}
/*  СЛАЙДЕРЫ И КНОПКИ   */

.material{
  background-color: #ffbf47;
}

.tool{
  background-color: #3bbce3;
}

.equipment{
  background-color: #dc91d8;
}

.discount{
  background-color: #8ed78f;
}

.delivery{
  background-color: #ffc047;
}

.offers{
  display: flex;
  flex-wrap: wrap;
  
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  
  margin-bottom: 32px;
}

.discout-delivery{
  display: flex;
  flex-direction: column;
  order: 1;
  margin-left: 20px;
}


.offer{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  
  position: relative;
  
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

.offer::after{
  content: "";
  position: absolute;
  
  width: 80px;
  height: 75px;
  
  background: url(../img/svg/icon-1.svg) no-repeat;
}

.material::after{
  top: 31px;
  right: 7px;
  
  background: url(../img/svg/icon-1.svg) no-repeat;
}

.tool::after{
  top: 33px;
  right: 23px;
  
  background: url(../img/svg/icon-2.svg) no-repeat;
}
.equipment::after{
  top: 31px;
  right: 29px;
  
  background: url(../img/svg/icon-3.svg) no-repeat;
}

.discount::after{
  top: 26px;
  right: 24px;
  
  background: url(../img/svg/icon-4.svg) no-repeat;
}

.delivery::after{
  top: 32px;
  right: 29px;
  
  background: url(../img/svg/icon-5.svg) no-repeat;
}

.material,
.tool{
  margin-right: 20px;
}

.slide{
  width: 100%;
}

.drills{
  background: url(../img/slider-1.jpg) no-repeat;
}

.slides-switches {
  position: absolute;
}

.offer-slider button{
  position: absolute;
  
  width: 30px;
  height: 40px;
  
  border: none;
  cursor: pointer;
}

.back-switch{
  top: 114px;
  left: 25px;
  background: url(../img/svg/icon-left.svg) no-repeat;
}

.next-switch{
  top: 114px;
  right: 12px;
  background: url(../img/svg/icon-right.svg) no-repeat;
}

.offer-slider{
  position: relative;
  display: flex;
  width: 620px;
  min-height: 266px;
}

.perforator{
  display: none;
  
  background: url(../img/slider-2.jpg) no-repeat;
}

.offer-type{
  margin: 0;
  padding: 0;
  padding-left: 22px;
  padding-top: 21px;
  
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  
}

.offer-item{
  width: 135px;
  padding: 10px 0px;
  margin-top: 12px;
  margin-left: 25px;
  
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  
  border-radius: 3px;
  background-color:  rgba(0, 0, 0, 0.1);
}

.offer-item:hover,
.offer-item:focus{
  background-color:  rgba(0, 0, 0, 0.2);;
}

.offer-item:active{
  background-color:  rgba(0, 0, 0, 0.3);;
}

.slide h3{
  margin: 0;
  padding: 0;
  margin-left: 24px;
  margin-top: 23px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slide p{
  margin: 0;
  padding: 0;
  margin-left: 24px;
  margin-top: 2px;
  font-size: 18px;
  
  line-height: 24px;
}


/*  ПОПУЛЯРНЫЕ КНОПКИ И ЗАГОЛОВКИ  */
.popular-header{
  display: flex;
  min-height: 90px;
  align-items: center;
  margin-bottom: 20px;
  
  background-color: #faf6f2;
}

.popular-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 24px;
  width: 253px;
  height: 38px;
  
  border-radius: 3px;
  text-align: center;
  
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color:  #ee3643;
}

.slider-btn{
  position: absolute;
  top:206px;
  left: 25px;
  
  margin: 0;
  padding: 0;
  width: 195px;
}

.popular-btn:hover,
.popular-btn:focus{
  background-color: #ca2c37;
}

.popular-btn:active{
  background-color: #ba2732;
}

.popular-header h2{
  padding-left: 28px;
  padding-top: 1px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  
  color: #32425c;
}

h2.header-manufacturers{
  padding-left: 24px;
}

/*  КАРТОЧКИ ПЕРФОРАТОРОВ  */
.product-image{
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
}

.catalog-product h3{
  text-align: center;
  padding: 0;
  margin: 0;
  width: 160px;
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.catalog-product p{
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.product-price{
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 3px;
  
  text-transform: uppercase;
  color: #999999;
  text-decoration:line-through;
}

.product-discount{
  position: relative;
  width: 77px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 4px;
  padding: 10px 30px;
  margin-top: auto;
  
  text-align: center;
  text-transform: uppercase;
  
  background-color: #ee3643; 
  color: #ffffff;
  border-radius: 3px;
  
}

.product-discount::after{
  content: "";
  position: absolute;
  top: 0;
  right: -23px;
  width: 0;
  height: 0;
  
  border: 19px solid white;
  border-left-color: #ee3643;
}

.product-btn{
  position: absolute;
  top: 0;
  left: 0;
  
  display: none;
  flex-direction: column;
  align-items: center;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: #ffffff;
  z-index: 9;
  
}

.catalog-product:hover .product-btn{
   display: flex;
}

.product-buy,
.product-bookmark{
  position: relative;
  
  padding: 7px 0;
  width: 129px;
  margin-bottom: 5px;
  margin-top: 3px;
  
  text-align: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color:  #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
}

.product-bookmark {
  color: #32425c;
  background-color: #ffffff;  
  border-color: #63a63e;
}

.product-buy::before{
  content: "";
  position: absolute;
  top: 8px;
  left: 11px;

  width: 20px;
  height: 20px;
  
  background: url(../img/svg/icon-cart.svg) no-repeat;
  opacity: 0.3;
}


.product-buy:hover,
.product-buy:focus{
  background-color:  #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.product-buy:active{
  background-color:  #518534;
  border-color: #518534;
}

.product-buy:hover::before,
.product-buy:focus::before,
.product-buy:active::before{
  opacity: 1;
}

.product-bookmark:hover,
.product-bookmark:focus{
  border: 3px solid #32425c;
}

.product-bookmark:active{
  opacity: 0.3;
}

/*  ПРОИЗВОДИТЕЛИ */
.popular-manufacturers{
  margin-bottom: 65px;
}

.catalog-manufacturers{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

.catalog-manufacturers img{
  max-width: 100%;
}

.catalog-manufacturers a{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 218px;
  min-height: 143px;
  margin-bottom: 20px;
  
  border: 1px solid #e7e7e7;
  
}


.catalog-manufacturers a:hover,
.catalog-manufacturers a:focus{
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}
.catalog-manufacturers a:active{
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
  }


/*  БЛОК СЕРВИСЫ  */
.service-warrianty,
.service-credit{
  display: none;
}


.service{
  height: 522px;
  margin-bottom: 79px;
    
  background-color: #f4f8f9;
}

.service h2{
  padding-top: 65px;
  padding-bottom: 1px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}



.service p{
  letter-spacing: 0.06px;
  color: #000000;
}

.service-text{
  margin: 0;
  margin-bottom: 48px;
  width: 400px;
}

.service-items{
  display: flex;
  
}

.service-columns{
  position: relative;
  
  margin: 0;
  margin-top: 20px;
  padding: 0;
  
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.service-columns::after{
  content: "";
  position: absolute;
  top: -40px;
  right: 0px;
  
  width: 10px;
  height: 280px;
  
  
  background: url(../img/shadow.png) no-repeat;
  
}

.service-columns button{
  width: 240px;
  min-height: 61px;
  padding-left: 22px;
  
  text-align: left;
  font: inherit;
  color: #ffffff;
  border: none;
  background-color: #32425c;
  
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.service-columns button:hover,
.service-columns button:focus{
   background-color: #293449;
}

.service-columns button:active{
  color: #32425c;
  background-color: #ffffff;
  border: none;
}


.service-details{
  width: 100%;
  margin-left: 79px;
}

.service-details div{
  min-height: 300px;
}

.service-delivery p {
  width: 280px;
}

.service-delivery{
   background: url(../img/delivery.png) no-repeat 152px 25px;
}


.service-warrianty p{
  width: 380px;
}

.service-details h3{
  margin-top: 19px;
  margin-bottom: 25px;
  
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.service-btn{
  margin-top: 30px;
}

.service-details-title{
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
}

.service-details-text{
  margin: 0;
  padding: 0;
}

/*  БЛОК КОМПАНИЯ  */

.company{
  margin-bottom: 86px;

  background-color: #ffffff;
}

.company .container{
  display: flex;
  
}

.company-info{
  padding-right: 109px;
}

.company-list{
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 36px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  
}

.company-list li{
  position: relative;
  padding-bottom: 20px;
}

.company-list li:before{
  content: "";
  position: absolute;
  left: -36px;
  top: 9px;
  
  width: 25px;
  height: 2px;
  
  background-color: #ee3643;
}

.company-information {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  width: 525px;
  letter-spacing: 0.14px;
 
}
p.contacts{
  letter-spacing: 0;
}
p.promo{
  padding-bottom: 21px;
  letter-spacing: 0.04px;
}

.company-btn{
  margin-left: 0;
  margin-right: auto;
  margin-top: 16px;
  width: 220px;
}

.promo{
  width: 400px;
}
.contacts{
  width: 185px;
}

.company-title{
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.company-contact-btn{
  margin: 0;
  padding: 0;
  width: 300px;
  min-height: 38px;
  margin-left: 6px;
  margin-top: 40px;
}

.company-contact h4,
.company-contact p{
  padding-left: 5px;
}

.company-contact-map{
  display: flex;
  margin-left: 6px;
  margin-top: 7px;
}

/*  ФУТЕР ВЕРХНЯЯ ЧАСТЬ*/

.footer-upper-panel{
  height: 193px;
  background-color: #303f58;
}

.footer-upper-panel .container{
  display: flex;
}

.footer-upper-container{
  display: flex;
  flex-direction: column;
  
}

.footer-upper-container p{
  margin: 0;
  padding: 0;
  width: 325px;
  margin-left: 4px;
}

.footer-list-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 23px;
}

.footer-top-list{
  display: flex;
  margin-top: 38px;
}

.footer-bottom-list{
  display: flex;
  margin-top: 10px;
  margin-left: auto;
}



.footer-top-list li,
.footer-bottom-list li{
  margin-right: 59px;
 
}


.main-footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 63px;
  margin-bottom: 33px;
  
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color:  #ee3643;
  box-shadow: 0 5px 0  #b52933
    
}

.footer-upper-panel p{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-top-list a{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  color: #f3f7f9;
}

.footer-top-list a:hover,
.footer-top-list a:focus,
.footer-bottom-list a:hover,
.footer-bottom-list a:focus,
.feedback:hover,
.feedback:focus{
  text-decoration: underline;
}

.footer-top-list a:active,
.footer-bottom-list a:active{
  opacity: 0.5;
  text-decoration: none;
}

.feedback:active{
  color: #ee3643;
  text-decoration: none;
}

.footer-bottom-list a{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  
  color: #ffd180;
}

/*  ФУТЕР НИЖНЯЯ ЧАСТЬ*/

.footer-bottom-panel {
  background-color: #2a354a;
}

.footer-bottom-panel .container{
  display: flex;
  align-items: center;
  height: 107px;
}

.footer-bottom-panel p{
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-devoloped{
  margin-right: 14px;
  padding-top: 7px;
}

.footer-feedback{
  margin-left: 90px;
  margin-right: 52px;
  padding-top: 7px;
}

p.copyright{
  width: 240px;
  padding-left: 1px;
  padding-top: 2px;
  letter-spacing: 0.08px;
}

.footer-bottom-panel a{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  
  color: #ffd180;
}

.footer-social{
  display: flex;
  width: 160px;
  height: 50px;
  margin-left: auto;
  margin-top: 13px;
}
.footer-social a{
  position: relative;
  width: 42px;
  height: 42px;
  margin-right: 3px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-vk::before{
  position: absolute;
  content: "";
  top: 13px;
  left: 8px;

  width: 30px;
  height: 30px;
  
  background: url(../img/svg/icon-vk.svg) no-repeat;
}

.social-fb::before{
  position: absolute;
  content: "";
  top: 10px;
  left: 15px;

  width: 30px;
  height: 30px;
  
  background: url(../img/svg/icon-fb.svg) no-repeat;
}

.social-in::before{
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;

  width: 30px;
  height: 30px;
  
  background: url(../img/svg/icon-insta.svg) no-repeat;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active{
  background-color: #ee3643;
}
/*  МОДАЛКА С ФОРМОЙ */

.modal{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  
  border-top: 7px solid #ff5357;
  background-color: #ffffff; 
}
.modal-content{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.modal input{
  font: inherit;

  background-color: transparent;
  border: 2px solid #e9eced;
}
.modal-footer{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  
  background-color: #f4f4f4; 
}

.modal-btn{
  text-align: center;
  vertical-align: middle;
  font: inherit;
  color: #ffffff;
  border: none;
}

/* СТИЛИЗАЦИЯ КАТАЛОГА */

.catalog{
  display: flex;
  justify-content: space-between;
  
}

.catalog-list{
  display: flex;
  justify-content: space-between;
  
}

.catalog-list-items{
  display: flex;
  flex-wrap: wrap;
  
  margin-bottom: 30px;
}



.catalog-product{
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width:218px;
  min-height: 316px;
  
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  
}

.catalog-product img{
  max-width:100%;
  margin-top: 32px;
  margin-bottom: 28px;
}

.new::before{
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  background: url(../img/new.png) no-repeat 0 0;
  z-index: 10;
}

.offers .new::before{
  top: 0px;
  right: 0px;
}

.catalog-list-items .catalog-product{
  margin-right: 20px;
}

.catalog-list-items .catalog-product:nth-of-type(3n){
  margin-right: 0px;
}

.breadcrumbs{
  position: relative;
  
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
  

.breadcrumbs a{
  padding-right: 35px;
  color: #000000;
}



.catalog-product:hover {
  box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
}

/* ПАГИНАЦИЯ*/
.pagination{
  padding: 0px;
  margin: 0;
  display: flex;
  margin-bottom: 60px;
  
}

.next-btn a{
  padding: 0 30px;
}

.pagination-btn a{
  display: flex;
  min-width: 37px;
  height: 37px;
  align-items: center;
  justify-content: center;
  
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-right: 10px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-btn a:hover,
.pagination-btn a:focus{
  border: 1px solid #bdc6ca;
  
}

.pagination-btn a:active{
  border: 1px solid #ee3643;
}

.current a{
  border: 1px solid #ee3643;
  color: #ffffff;
  background-color: #ee3643;
}

.current a:hover,
.current a:focus{
  border: 1px solid #ee3643;
}

/* ЗАГОЛОВОК КАТАЛОГА*/
.catalog-header h2{
  display: flex;
  min-height: 89px;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 26px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  
  color: #32425c;
  
}

.catalog-header{
  background-color: #f2f6f8;
}

/* ФОРМА И КАРТОЧКИ*/

.filters{
  width: 220px;
  margin-right: 44px;
}
.column-header{
  display: flex;
  margin-bottom: 20px;
  height: 38px;
}

.left-column-header {
  display: flex;
  height: 38px;
  width: 200px;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-right: 20px;
  
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  
  background-color: #f7f3ec;
}

.right-column-header{
  display: flex;
  height: 38px;
  width: 700px;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 20px;
}

.filter{
  font-size: 13px;
}

.filter fieldset {
  border: none;
}

.filter legend {

  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  
  color: #000000;
}

.filter ul{
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-input:hover,
.filter-input:focus {
  
}

.filter-input:active + label{
  opacity: 0.4;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.filter-btn{
  font: inherit;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
 
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}


.right-column-header{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  
  background-color: #f7f3ec;
}

.right-column-header a{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  
  border-bottom: 1px dashed #ee3643;
}

.right-column-header a:hover,
.right-column-header a:focus{
  border-bottom: 1px solid #ee3643;
  color: #000000;
}

.right-column-header a:active{
  color: #ee3643;
}

a.catalog-option-up,
a.catalog-option-down{
  border:none;
}

a.catalog-option-up:hover,
a.catalog-option-down:hover,
a.catalog-option-up:focus,
a.catalog-option-down:focus{
  border:none;
}

/* БЛОК "О перфораторах"*/
.perforators{
  background-color: #f4f8f9;
}

.perforators p{
  margin: 0;
  padding: 0;
  padding-bottom: 71px;
}

.perforators h2{
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  padding-top: 65px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  
  color: #000000;
}

/* МОДАЛКА С КОРЗИНОЙ */
.modal-oject,
.modal-map,
.modal-cart{
  display: none;
}

.modal-footer{
  font-family: "Cuprum", Arial, sans-serif;
 
}
.cart-content{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  
  color: #000000;
}

.cart-btn{
  font: inherit;
  text-align: center;
  vertical-align: middle;
  
  color: #ffffff;
  border: none;
}

.next{
  color: #000000;

  background-color:  #ffffff
}

.next:hover,
.next:focus{
  background-color: aliceblue;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
